body {
    color: black;
    font: 12px Tahoma, sans-serif;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="submit"], select  {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    width: 150px;
    margin: 5px;
    color: #393B3B;
    padding: 0 10px;
    vertical-align: top;
}
textarea{
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 75px;
    width: 300px;
    margin: 5px;
    color: #393B3B;
}
input[type="file"]{
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    width: 300px;
    margin: 5px;
    color: #393B3B;
}
.user{
    margin: auto;
    padding: 20px;
    align-content: center;

}
table {
    padding-left: 20px;
    width: 100%;
    text-align: left;

}
.erorr{
    color: red;
    font-size: 14px;
}
p a{
    color: blue;
}
form{
    align-content: center;
}
button {
    color: #fff;
    background-color: #eea236;
    border: 1px black solid;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    margin: 2px;
}
p {
    margin: 20px 0;
}


#wrapper {
    max-width: 960px;
    margin: auto;
    color: black;
}
header {
    padding: 20px 0;
    background-image: url("image.jpg");
    background-attachment: local;
    background-repeat: no-repeat;
    height: 85px;
}
nav{
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;

}

nav ul {
    margin: 0;
    padding: 0;

}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}
label{
    color: black;
}
.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    background-color: #2a6496;

}
.top-menu{
    background-color: #2a6496;
    margin: 5px;
}
.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: black;
}


h1 {
    display: inline-block;
    color: #d58512;
    font: 40px/40px 'Oswald', sans-serif;

    margin: 0;
    padding: 0 10px;
}
aside {
    float: left;
    width: auto;
    margin: 10px;

    background-color: #1d8ea6;
}
section {
    float: left;
    width: 680px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #5BBCEC;
}
.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    padding-right: 20px;

    border-top: 1px solid #e7e7e7;
}



.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: black;

}



li:hover {
    color: blue;
    background-color: green;
}
li:active{
    background-color: #2b542c;
}

.col-1-3 {
    width: 200px;
    float: left;
    margin: 5px;
}
.col-2-3 {
    width: 300px;
    float: left;
    margin: 5px;
    padding-right: 10px;
}
section:after, .row:after {
    content: "";
    display: table;
    clear: both;

}
.row {
    width: 100%;
    margin-bottom: 5px;

    align-content: center;
    /*padding-right: 200px;*/
}

section a{
    text-decoration: none;
}

#footer {
    background: #2a6496;
    color: black;
    float: bottom;
    left: 0;
    bottom: 0;
    position: fixed;

    width: 100%;
    padding: 4px;

}

.account a{

    float: right;
    text-decoration: none;
}



.hed{
    text-align: center;
    color: darkred;
    padding-top: 2px;
}
.pagination{
    text-align: center;
}
.pagination li {
    list-style-position: inside;
    display: inline-block;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}
.pagination ul {
    margin: 0;
    padding: 0;

}

.ico{
    width: 25px;
    height: 25px;
}

.tovar{
    border-collapse: collapse;
    border: 1px black solid;
}

.tovar th{
    background-color: #47a447;
    padding: 5px 10px;
    border: 1px black solid;
}
.tovar td{
    text-align: center;
    padding: 5px 10px;
    border: 1px black solid;
    background-color: #67b168;
}
.total th{
    padding: 5px 10px;
    text-align: left;
    background-color: red;
}

img{
    width: 200px;
    height: 200px;
}